@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Again - testing </h1>
    <h1>A test to perform-- Hope this change is visible</h1>
    <p>This is a test page for testing purpose <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
